body{
    overflow: hidden;
    background-image: url(../assets/images/pexels-photo-1261408.jpeg)
}
.nav-toggle{
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 9;
}
.menu{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    right: 1em;
    top: 1em;
    opacity: 0;
}